<style>
  .x-panel {
    margin: 20px;
  }
  h1 {
    font-size: 18px;
    margin: 10px;
  }
  body {
    padding: 30px;
  }
</style>

<h1>Charts Example<h1>
<div style="margin: 10px;">
  Displaying multiple charts and mixed charts with mouse over and click interaction.
  <%= link_to "View Source", asset_path("Charts.js") %>
</div>
